{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
{% block content %}
    <div class="cvet">
        <div class="columns is-centered">
            <div class="column is-4">
                <div class="box" style="height: 400px">
                    <form enctype="multipart/form-data" method="post" action="">
                        {% csrf_token %}
                        {% for field in form %}
                            <div  style="width: 100%">
                            <label class="label mt-4" for="">{{ field.label }}</label>
                            <div style="width: 100%">{{ field }}</div>
                            </div>
                            <br>
                        {% endfor %}
                        <button class="button" type="submit" style="background: rgb(136, 96, 208);color: snow">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>