{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bulma.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'script.js' %}">
</head>
<body>
<div class="base">
    <nav class="navbar cvet1" role="navigation"
         style="height: 120px;height: 100px"
         aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="mt-5 ml-6 catalog"
                     style="border-radius: 10px;width: 120px;display: flex;justify-content: center;height: 55px;border: 1px solid white">
                    <button class="js-modal-trigger bt" data-target="modal-js-example">
                        <span style="font-size: 18px;color: white">Каталог</span>
                    </button>
                </div>
                <div class="mt-3" style="margin-left: 60px">
                    <a href="{% url 'shop:home' %}"><img src="{% static 'logo9.png' %}" width="300px" height="50px"
                                                         alt=""></a>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <form action="{% url 'shop:home' %}" method="get">
                        <div class="field has-addons mt-1 mr-6">
                            <div class="control" style="width: 700px;border-radius: 25px">
                                <input class="input search" style="border-radius: 25px;height: 50px" type="search"
                                       placeholder="        Я ищю...." name="search">
                            </div>
                        </div>
                    </form>
                    <div class="mr-4 mt-1">
                        <a href="{% url 'shop:location' %}">
                            <img src="{% static 'location.png' %}" style="margin-left: 13px;margin-bottom: -3px"
                                 height="25px"
                                 width="25px" alt=""><br><span style="color: snow">Адреса</span>
                        </a>
                    </div>
                    <div class="mr-4">
                        <a class="">
                            {% if user.is_authenticated %}
                                {% if user.profile %}
                                    <a href="{% url 'auth:profile' %}" class="nav-item"><img height="30px" width="30px"
                                                                                             style="margin-left: 20px"
                                                                                             src="{% static 'icon-person.png' %}"
                                                                                             alt="">
                                        <br><span style="color: snow">Профиль</span></a>
                                {% else %}
                                    <a href="{% url 'shop:create' %}"><img style="margin-left: 13px"
                                                                           src="{% static 'product.png' %}"
                                                                           height="27px" width="30px" alt=""><br><span
                                            style="color: white">
                                        Создать
                                    </span>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'auth:sign_up' %}" class="nav-item"><img height="35px" width="35px"
                                                                                         src="{% static 'icon-person.png' %}"
                                                                                         alt="">
                                    <br><span style="color: snow;font-size: 15px">Войти</span></a>
                            {% endif %}
                        </a>
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                            {% if user.profile %}
                                <a href="{% url 'shop:cart' %}" class=""><img class="mt-1" src="{% static 'cart.png' %}"
                                                                              style="margin-left: 12px" height="25px"
                                                                              width="25px" alt=""><br>
                                    <span style="color: snow">
                            Корзина
                            </span>
                                </a>
                            {% else %}
                                <div class="mr-3">
                                    <a href="{% url 'auth:logout' %}"><img src="{% static 'exit.png' %}"
                                                                           style="margin-left: 12px" height="25px"
                                                                           alt=""><br><span
                                            style="color: snow;margin-left: 5px">Выйти</span></a>
                                </div>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'auth:sign_up' %}" class=""><img class="mt-1" src="{% static 'cart.png' %}"
                                                                             style="margin-left: 12px" height="25px"
                                                                             width="25px" alt=""><br>
                                <span style="color: snow">
                            Корзина
                            </span>
                            </a>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
{% block modal %}

{% endblock %}

{% block content %}
{% endblock %}
<footer class="footer cvet1">
    <div class="columns ml-2">
        <div class="column is-3">
            <div class="has-text-white is-size-5 has-text-weight-semibold">Покупателям</div>
            <p class="slova mt-2">Способ оплтаты</p>
            <p class="slova mt-2">Доставка</p>
            <p class="slova mt-2">Возврат товара</p>
            <p class="slova mt-2">Возврат денежных стредств</p>
            <p class="slova mt-2">Правила продажи</p>
            <p class="slova mt-2">Публичная оферта</p>
        </div>
        <div class="column is-3">
            <div class="has-text-white is-size-5 has-text-weight-semibold">Партнерам</div>
            <p class="slova mt-2">Продавайте на AllBuy</p>
            <p class="slova mt-2">Франшизный пункт выдачи</p>
        </div>
        <div class="column is-2">
            <div class="has-text-white is-size-5 has-text-weight-semibold">Компания</div>
            <p class="slova mt-2">О нас</p>
            <p class="slova mt-2">Реквизиты</p>
            <p class="slova mt-2">Пресс центр</p>
            <p class="slova mt-2">Контакты</p>
        </div>
        <div class="column is-2">
            <div class="has-text-white is-size-5 has-text-weight-semibold">Мы в соцсетях</div>
            <p class="slova mt-2">Вконтакте</p>
            <p class="slova mt-2">Одноклассники</p>
        </div>
    </div>
    <br>
    <br>
    <div style="color: snow;display: flex;justify-content: center;font-size: 15px">
        2004-2023 © AllBuy — модный интернет-магазин одежды, обуви и аксессуаров. <br>
    </div>
    <div style="color: snow;display: flex;justify-content: center;font-size: 15px">Все права защищены</div>
</footer>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });
</script>
</body>
</html>