{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<link rel="stylesheet" href="{% static 'bulma.css' %}">
<link rel="stylesheet" href="{% static 'script.js' %}">
{% block content %}
    <div style="background: rgb(136,96,208);
background: linear-gradient(0deg, rgba(136,96,208,1) 10%, rgba(86,128,233,1) 74%);">
        <div class="box">
            <div id="pSlider" class="mt-3">
                <ol id="slider-container" dir="ltr">
                    <a href="">
                        <li id="slide_1" class="li_slide">
                            <div class="slide-snapper"></div>
                            <a class="prev_slide" href="#slide_4"></a> <a class="next_slide" href="#slide_2"></a></li>
                    </a>
                    <li id="slide_2" class="li_slide">
                        <div class="slide-snapper"></div>
                        <a class="prev_slide" href="#slide_1"></a> <a class="next_slide" href="#slide_3"></a></li>
                    <li id="slide_3" class="li_slide">
                        <div class="slide-snapper"></div>
                        <a class="prev_slide" href="#slide_2"></a> <a class="next_slide" href="#slide_4"></a></li>
                    <li id="slide_4" class="li_slide">
                        <div class="slide-snapper"></div>
                        <a class="prev_slide" href="#slide_3"></a> <a class="next_slide" href="#slide_1"></a></li>
                </ol>
            </div>
            <br>
            <br>
            <br>
            <div class="title" style="font-size: 25px;font-weight: bold;color: black;margin-left: 10px">Возможно, вам
                понравится
            </div>
            <br>
            <div style="margin-left: 36px">
                <div class="columns is-multiline">
                    {% for product in products %}
                        <a href="{% url 'shop:detail' product.pk %}">
                            <div class="column is-multiline">
                                <div class="box1" style="width: 200px;margin-left: 15px">
                                    <img src="{{ product.preview.url }}" alt="">
                                </div>
                                <h1 style="color: black;font-size: 20px;font-weight: bold;margin-top: 15px;margin-left: 15px">
                                    {{ product.price }} сум</h1>
                                <p style="color: gray;font-size: 13px;margin-left: 15px">{{ product.snippet }}...</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <div id="modal-js-example" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content" style="width:1200px ">
            <div class="box" style="border-radius: 0px">
                <div class="columns is-multiline">
                    {% for category in categories %}
                        <div class="column is-3">
                            <a href="{% url 'shop:home' %}?category={{ category.pk }}" class="navbar-item">
                                <div class="has-text-weight-semibold"
                                     style="font-size: 25px;color: black">{{ category }}</div>
                            </a>
                            <ul>
                                {% for subcategory in category.subcategory_set.all %}
                                    <a href="{% url 'shop:home' %}?subcategory={{ subcategory.pk }}"
                                       class="navbar-item">
                                        <li style="color: black">{{ subcategory.name }}</li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
    </div>

{% endblock %}